@charset 'UTF-8';
@import url('https://fonts.googleapis.com/css?family=Red+Hat+Display&display=swap');

/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/

*	{
	font-family: 'Red Hat Display', sans-serif;
	line-height: 1.75em;
	user-select: none;
}

*:focus {
    outline: none;
}

html, body, iframe {
	width: 100%;
	height: 100%;
	margin: 0em;
}

iframe {
	border: none;
}

#index-container {
  height: calc(80vh - 10px);
  width: calc(99vw - 10px);
	left: 5px;
  position: relative;
	overflow-y: hidden;
}

#news-container {
	/* height: 100%; */
	height: calc(80vh - 10px) !important;
  max-width: calc(100vw - 10px );
  position: relative;
}

#article-frame {
	position: relative;
  height: inherit;
}

#apps-container {
	overflow: hidden;
	padding: 1px;
	height: calc(100vh  - 0px );
  max-width: calc(100vw - 10px );
	bottom: 5px;
  position: relative;
	display: flex;
	flex-direction: row;
}

#apps-container ul {
	margin-top: -11px;
  list-style-type: none;
}

#apps-container ul button {
	border:0px solid rgba(175, 175, 175, 0.0);
	border-bottom:1px solid rgba(175, 175, 175, 0.4);
	display: block;
	width: 40vw;
	font-size: 18pt;
	padding: 6px 12px;
	margin: 15px -1em;
	text-align: left;
	background-color: rgba(255, 255, 255, 0.0);
}

/******************************************************************************/
/*                                   Sidebar                                  */
/******************************************************************************/

.sidebar {
	position: absolute;
	height: calc(88vh  - 0px );
	width: 45vw;
	top: 5px;
	right: 0;
	text-align: left;
	padding: 5px;
	border: 0px solid rgba(0,0,0,0.1);
	box-shadow: -1px 1px 2px 0px rgba(0,0,0,0.2);
}

#oem-info-container, #native-info-container, #fix-info-container {
	display: block;
}

#oem-apps, #native-apps, #fix-apps, #oem-ford-container, #oem-gm-container,
#oem-toyota-container, #oem-daimler-container, #native-catia-container,
#native-nx-container, #native-other-container, #fix-temp-container,
#fix-tce-container, #fix-catia-container, #test-container {
	display: none;
}

.panel h1 {
	font-size: 14pt;
	line-height: 0;
	padding: 0;
}

.panel h2 {
	font-size: 12pt;
	line-height: 0;
	padding: 0;
	text-align: right;
}

.panel {
	display: grid;
	height: inherit;
	grid-template-areas:
		"a a a a a c d"
		"b b b b b b b"
		/* "c c c d" */
		"e e e e e e e";
	grid-template-rows: 35px auto 25px auto;
	grid-template-columns: auto auto auto 80px;
}

.panel > .item1 {
	grid-area: a;
	/* background-color: rgba(175, 0, 0, 0.2); */
}

.panel > .item2 {
	padding: 10px;
	grid-area: b;
	/* background-color: rgba(0, 175, 0, 0.2); */
}

.panel > .item3 {
	position: relative;
	grid-area: c;
	/* background-color: rgba(0, 0, 175, 0.2); */
}

.panel > .item4 {
	grid-area: d;
	/* background-color: rgba(175, 175, 0, 0.2); */
}

.panel > .item5 {
	grid-area: e;
	display: grid;
	height: auto;
	grid-template-areas: "f f";
	grid-template-rows: auto;
  grid-template-columns: auto;
	/* background-color: rgba(0, 175, 175, 0.2); */
	grid-gap: 10px 2px;
	padding: 10px;
}

.panel > .btn {
	grid-area: f;
	/* background-color: rgba(175, 0, 175, 0.2); */
	display: block;
  width: 250px;
  padding: 12px 12px;
	font-size: 12pt;
	color: black;
}

.panel button {
	border:1px solid rgba(175, 175, 175, 0.3);
	border-bottom:1px solid rgba(175, 175, 175, 0.6);
	display: block;
	width: 20vw;
	font-size: 10pt;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.0);
	box-shadow: -1px 1px 2px 0px rgba(0,0,0,0.4);
}

.panel button:hover {
	/* background-color: rgba(0, 0, 0, 0.01); */
	box-shadow: -1px 1px 2px 0px rgba(100,100,100,1);
}

.panel button:active {
	transform: translateY(2px);
	box-shadow: 1px -1px 1px 0.5px rgba(0,0,0,0.25);
}

/******************************************************************************/
/*                                   Switch                                   */
/******************************************************************************/

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: block;
	margin: 5px 25px 0 0;
  width: 45px;
  height: 17px;
	float: right;
	border-radius: 25px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(250,0,0,0.6);
	box-shadow:inset 0px 1.5px 1px 0px rgba(0,0,0,0.2);
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  transition: .4s;
	box-shadow: 0px 1.5px 1px 0px rgba(0,0,0,0.2);
}

input:checked + .slider {
	background-color: rgba(0,250,0,0.6);
	box-shadow:inset 0px 1.5px 1px 0px rgba(0,0,0,0.4);
}

input:focus + .slider {
}

input:checked + .slider:before {
  transform: translateX(28px);
	transition: .2s;
}

/* Rounded sliders */
.slider.round {
  border-radius: 25px;
}

.slider.round:before {
  border-radius: 100%;
}
